.header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #1A2B43;
    font-family: SourceHanSans, sans-serif;
}

.header-title {
    font-size: 48px; 
    font-weight: bold;
    text-align:center;
    margin:0;
    color: #87ceeb;
    line-height: 1.2;
}

.header-subtitle {
    font-size: 24px;
    font-style: italic;
    color: gray;
    display: block;
    margin-top: 5px;
}

.header-navbar {
    display: flex;
    flex-grow: 1;
}

.navbar-list {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-item {
    font-size: 28px;
}

.navbar-link {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.story{
    background-image: url('https://pic1.zhimg.com/v2-1c0a6eadc663832aae33e2c2bf21f7e4_1440w.jpg?source=172ae18b');
    background-size: cover;
    padding: 20px;
    opacity:0.6;
}

.story-headline {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.story-list {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.8;
    padding: 0;
    text-align: center;
    list-style: none;
}

.story-item{
    margin-bottom: 10px;
}

.main-section-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

.card {
    background-color: #white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 10px 5px 5px #CECEFF;
    padding: 20px;
    text-align: center;
}

.card-title {
    font-size: 24px;
    color: #333;
}
.card-description {
    font-size: 18px;
    list-style: none;
    line-height: 1.6;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    min-height: 300px;
    box-sizing: border-box; 
}

.card-item {
    margin-bottom: 10px;
}

.card-highlighted{
    border: 2px solid 	#4A4AFF;
 
}


/*插入卡片的icon無法自動縮小  導致卡片變大張*/
.image-practice--container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pricing {background-image: url('https://d2r4787i3zn8dn.cloudfront.net/site_images/images/033c62ab3ef144f2089dcffa3ad76488bbbc6eed.jpg?1572426758');
    background-size: cover;
    padding: 20px;
    opacity:0.8;
}

.pricing-title {
    text-align: center;
    color: white;
    font-size: 32px;
    margin-bottom: 20px;
}

.pricing-table{
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: white;
}

.pricing-header{
    background-color: #1D2A44;
    color: white;
    text-align: center;
    padding: 10px;
    border: 3px solid #4A4AFF;
}

.pricing-data {
    font-size: 18px;
    text-align: center;
    padding: 10px;
    border: 3px solid #4A4AFF;
}

.pricing-data-full {
    color: #ff6f00;
    font-weight: bold;
}

.pricing-data-open {
    color: green;
    font-weight: bold;
}

/* Coaches section */
.coaches {
    background-color: #1A2B43;
    padding: 20px;
    color: #07b4f8;
}

.coaches-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.coaches-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.coach-card {
    background-color: white;
    border: 5px solid #B0BEC5;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.coach-card-image {
    width: 100%;
    border-radius: 8px;
}
.coach-card-name {
    background-color: #ddd;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

/* 之後做 Hover 效果，隱藏卡片滑鼠懸停照片後滑出 */
.coach-card-skills {
    font-size: 16px;
    list-style: none;
    padding: 0;
}

.coach-card-skill {
    margin-bottom: 10px;
}

/*卡片水平排列失敗*/
.card__image-container img {
        width: 100%;
        height: 100%;        
        object-fit: cover;
        padding: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
}

.hotel-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}




/* Footer */
.footer {
    background-color:#1D2A44;
    color: white;
    text-align: center;
    padding: 10px 20px;
}

.footer-text {
    font-size: 14px;
}